In [2]:
str1 = "Prathamesh Zadkhande"
for i in str1 :
    print(i,end="_")

P_r_a_t_h_a_m_e_s_h_ _Z_a_d_k_h_a_n_d_e_

In [9]:
## string Function

In [7]:
# for Count the index
count=1
for i in str1 :
    print(f"String  {i} > value==",count)
    count=count+1

String  P > value== 1
String  r > value== 2
String  a > value== 3
String  t > value== 4
String  h > value== 5
String  a > value== 6
String  m > value== 7
String  e > value== 8
String  s > value== 9
String  h > value== 10
String    > value== 11
String  Z > value== 12
String  a > value== 13
String  d > value== 14
String  k > value== 15
String  h > value== 16
String  a > value== 17
String  n > value== 18
String  d > value== 19
String  e > value== 20

In [8]:
# for negative count indexing
count = -20
for i in str1 :
    print(f"string {i} ==",count)
    count=count+1

string P == -20
string r == -19
string a == -18
string t == -17
string h == -16
string a == -15
string m == -14
string e == -13
string s == -12
string h == -11
string   == -10
string Z == -9
string a == -8
string d == -7
string k == -6
string h == -5
string a == -4
string n == -3
string d == -2
string e == -1

## Range Function

In [12]:
## for 2 table 
for i in range(2,21,2):
    print(i)
    print("-"*20)

2
--------------------
4
--------------------
6
--------------------
8
--------------------
10
--------------------
12
--------------------
14
--------------------
16
--------------------
18
--------------------
20
--------------------

In [17]:
# to draw 9 Table
count=9
c = 1
for i in range(9,95,9):
    print(f"{count} * {c} ==",i)
    c = c+1
    print("-"*20)

9 * 1 == 9
--------------------
9 * 2 == 18
--------------------
9 * 3 == 27
--------------------
9 * 4 == 36
--------------------
9 * 5 == 45
--------------------
9 * 6 == 54
--------------------
9 * 7 == 63
--------------------
9 * 8 == 72
--------------------
9 * 9 == 81
--------------------
9 * 10 == 90
--------------------

In [21]:
# to draw 15 table
a = 15
b= 1
for i in range (15,155,15):
    print(f'{a} * {b} =',i)
    b = b+1
    print("-"*25)

15 * 1 = 15
-------------------------
15 * 2 = 30
-------------------------
15 * 3 = 45
-------------------------
15 * 4 = 60
-------------------------
15 * 5 = 75
-------------------------
15 * 6 = 90
-------------------------
15 * 7 = 105
-------------------------
15 * 8 = 120
-------------------------
15 * 9 = 135
-------------------------
15 * 10 = 150
-------------------------

### Enumerate Function

In [6]:
str1="Data Science"
for index,value in enumerate(str1):
    print("index>>",index,"character>>>",value)

index>> 0 character>>> D
index>> 1 character>>> a
index>> 2 character>>> t
index>> 3 character>>> a
index>> 4 character>>>
index>> 5 character>>> S
index>> 6 character>>> c
index>> 7 character>>> i
index>> 8 character>>> e
index>> 9 character>>> n
index>> 10 character>>> c
index>> 11 character>>> e

In [14]:
roll_no = [1,2,3,4,5,6,38,45,67]
for index,name in enumerate(roll_no):
    print(name)
    if (index==6):
        print(f"Roll No {name} Your name is prathamesh")

1
2
3
4
5
6
38
Roll No 38 Your name is prathamesh
45
67

In [15]:
str1 ="data Science"
for index,value in enumerate(str1):
    print(f"index = ",index,"value = ",value)

index =  0 value =  d
index =  1 value =  a
index =  2 value =  t
index =  3 value =  a
index =  4 value =
index =  5 value =  S
index =  6 value =  c
index =  7 value =  i
index =  8 value =  e
index =  9 value =  n
index =  10 value =  c
index =  11 value =  e

In [27]:
def pos_int(str1):
    str1=input("Enter Your String >>")
    count = 1
    for i in str1:
        print(f"string>> {i} index >> ",count)
        count=count+1

In [28]:
pos_int(str1)

Enter Your String >>Prathamesh zadkhande
string>> P index >>  1
string>> r index >>  2
string>> a index >>  3
string>> t index >>  4
string>> h index >>  5
string>> a index >>  6
string>> m index >>  7
string>> e index >>  8
string>> s index >>  9
string>> h index >>  10
string>>   index >>  11
string>> z index >>  12
string>> a index >>  13
string>> d index >>  14
string>> k index >>  15
string>> h index >>  16
string>> a index >>  17
string>> n index >>  18
string>> d index >>  19
string>> e index >>  20

In [37]:
def neg_int(str):
    str=input("Enter Your string")
    count=-1
    for i in str:
        print("string>>",i ,"Negative Index >>",count)
        count=count-1

In [38]:
neg_int(str)

Enter Your stringwewvddfv g
string>> w Negative Index >> -1
string>> e Negative Index >> -2
string>> w Negative Index >> -3
string>> v Negative Index >> -4
string>> d Negative Index >> -5
string>> d Negative Index >> -6
string>> f Negative Index >> -7
string>> v Negative Index >> -8
string>>   Negative Index >> -9
string>> g Negative Index >> -10

In [ ]:
# how to create function for table
def table(num)
for i in num:

In [3]:
x = 5 
y = 6
z = 8
if x>y:
    print ("X is big")
elif y>z:
        print("yis grater")
elif z>x:
        print("z is grater")
else :
        print(" all are equal")

z is grater

In [12]:
l1 = int(input(">>"))
if l1 % 2 == 0:
    print ("the num is even")
else:
    print("the num is odd")

>>23
the num is odd

In [ ]:
l1 = [1,2,3,4,5,6,7,9,10]
for l1 in range()

In [1]:
#accept the count of test cases given in the the 1st line
t = int(input())        
#run a loop to accept 't' inputs
for i in range(t):      
    #accept 1 integer on the 1st line of each test case
    N = int(-t)        
    #output the negative integer - i.e. (-N)
    print(N)

23
-23
-23
-23
-23
-23
-23
-23
-23
-23
-23
-23
-23
-23
-23
-23
-23
-23
-23
-23
-23
-23
-23
-23

In [3]:
def auto_sub(t):
    t = int(input())        
#run a loop to accept 't' inputs
    for i in range(t):      
    #accept 1 integer on the 1st line of each test case
           N = int(-t)        
    #output the negative integer - i.e. (-N)
           print(N)

In [4]:
b=9
auto_sub(b)

12
-12
-12
-12
-12
-12
-12
-12
-12
-12
-12
-12
-12