In [8]:
# Convert the first letter in title case

In [9]:
tup1=("Hindi","Engish","MARATHI","gujrati","tamil","kannada","Punjabi")
list1=[i.title()  for  i in tup1]
print(list1)
print(tuple(list1 ))

['Hindi', 'Engish', 'Marathi', 'Gujrati', 'Tamil', 'Kannada', 'Punjabi']
('Hindi', 'Engish', 'Marathi', 'Gujrati', 'Tamil', 'Kannada', 'Punjabi')

In [11]:
t1=( "Hindi","Engish","MARATHI","gujrati","tamil","kannada","Punjabi" )
l1=[i.title() for i in t1]
print(tuple(l1))

('Hindi', 'Engish', 'Marathi', 'Gujrati', 'Tamil', 'Kannada', 'Punjabi')

In [16]:
t2=("marathi","Hindi","English","temil")
l2=[v for v in t2 if v.istitle()==True]
print(tuple(l2) )

('Hindi', 'English')

In [18]:
# copy and Deepcopy for tuple (Deepcopy can only usefull for  tuple)

a=(1,24,5,['Pratham','Dvwitya'],34,6554,23)
b=a.copy()

AttributeError: 'tuple' object has no attribute 'copy'

In [21]:
# 'tuple' object has no attribute 'copy'
# there fore we can use Deepcopy
import copy
a=(1,24,5,['Pratham','Dvwitya'],34,6554,23)
b =copy.deepcopy(a)
a[3][0]='Prathamesh'
print(a)
print(b)

(1, 24, 5, ['Prathamesh', 'Dvwitya'], 34, 6554, 23)
(1, 24, 5, ['Pratham', 'Dvwitya'], 34, 6554, 23)

In [22]:
TUPLE=====copy()>>NOT SUPPORT,deepcopy()>>>USE
TUPLE=====sort()>>NOT SUPPORT,sorted()>>USE
TUPLE=====reverse()>>NOT SUPPORT,reversed()>>USE

SyntaxError: invalid syntax (4194663774.py, line 1)

In [23]:
# plus operator 
a=(1,3,54,3)
b=(12,34,0,5)
print(a+b)

(1, 3, 54, 3, 12, 34, 0, 5)

In [24]:
b[::-1]

(5, 0, 34, 12)

In [25]:
sorted(b)

[0, 5, 12, 34]

In [26]:
tuple(reversed(b))

(5, 0, 34, 12)

In [29]:
# use of sorted function in tuple convert the datatype into list
t4=(1,-33,2,-22,45,23,-23,0)
sorted(t4)

[-33, -23, -22, 0, 1, 2, 23, 45]

In [30]:
# loops in python
# 1.For loop
# 2.While loop

In [31]:
syntax>>for i in iterable data
sequence/iterable>>>str,list,tuple,set,frozenset,array,numpy,pandas data frame
for items in sequence:
    statement1
    statement2

SyntaxError: invalid syntax (149448510.py, line 1)

In [1]:
while loop is generate infinite lopp

SyntaxError: invalid syntax (1958498096.py, line 1)

In [2]:
import os

In [4]:
path=os.getcwd()

In [5]:
path

'C:\\Users\\prath\\Data Science\\Prathamesh'

In [10]:
file_list = os.listdir()
file_list

['.ipynb_checkpoints',
 'DS_07_24.ipynb',
 'DS_07_26.ipynb',
 'DS_07_27.ipynb',
 'DS_07_28.ipynb',
 'DS_07_29.ipynb',
 'DS_07_31.ipynb',
 'DS_08_01.ipynb',
 'DS_08_02.ipynb',
 'DS_08_03.ipynb',
 'DS_08_04.ipynb']

In [15]:
import pandas as pd 
dt = pd.read_csv("Hefpi.csv")

In [18]:
dt

,Country Name,Country Code,Indicator Name,Indicator Code,1982,1983,1984,1985,1986,1987,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Afghanistan,AFG,Acute respiratory infections treated (% of chi...,HF.STA.ARIC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,60.355908,NaN,NaN,NaN,NaN,61.427754,NaN,NaN,NaN
1,Afghanistan,AFG,Acute respiratory infections treated (% of chi...,HF.STA.ARIC.ZS.Q1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,45.818409,NaN,NaN,NaN,NaN,54.306960,NaN,NaN,NaN
2,Afghanistan,AFG,Acute respiratory infections treated (% of chi...,HF.STA.ARIC.ZS.Q2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,59.437793,NaN,NaN,NaN,NaN,65.181047,NaN,NaN,NaN
3,Afghanistan,AFG,Acute respiratory infections treated (% of chi...,HF.STA.ARIC.ZS.Q3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,65.523684,NaN,NaN,NaN,NaN,57.236749,NaN,NaN,NaN
4,Afghanistan,AFG,Acute respiratory infections treated (% of chi...,HF.STA.ARIC.ZS.Q4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,63.517118,NaN,NaN,NaN,NaN,66.636157,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62050,Zimbabwe,ZWE,Use of insecticide-treated bed nets (% of unde...,HF.MLR.NETS.ZS.Q1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,9.697901,NaN,NaN,NaN,33.460024,9.445526,NaN,NaN,NaN
62051,Zimbabwe,ZWE,Use of insecticide-treated bed nets (% of unde...,HF.MLR.NETS.ZS.Q2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,9.436990,NaN,NaN,NaN,29.164651,10.388638,NaN,NaN,NaN
62052,Zimbabwe,ZWE,Use of insecticide-treated bed nets (% of unde...,HF.MLR.NETS.ZS.Q3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,9.830812,NaN,NaN,NaN,25.598219,10.053198,NaN,NaN,NaN
62053,Zimbabwe,ZWE,Use of insecticide-treated bed nets (% of unde...,HF.MLR.NETS.ZS.Q4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.367597,NaN,NaN,NaN,21.713442,6.969739,NaN,NaN,NaN
62054,Zimbabwe,ZWE,Use of insecticide-treated bed nets (% of unde...,HF.MLR.NETS.ZS.Q5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.448778,NaN,NaN,NaN,17.344494,7.669484,NaN,NaN,NaN

In [17]:
dt.info

<bound method DataFrame.info of       Country Name Country Code  \
0      Afghanistan          AFG
1      Afghanistan          AFG
2      Afghanistan          AFG
3      Afghanistan          AFG
4      Afghanistan          AFG
...            ...          ...
62050     Zimbabwe          ZWE
62051     Zimbabwe          ZWE
62052     Zimbabwe          ZWE
62053     Zimbabwe          ZWE
62054     Zimbabwe          ZWE

                                          Indicator Name     Indicator Code  \
0      Acute respiratory infections treated (% of chi...     HF.STA.ARIC.ZS
1      Acute respiratory infections treated (% of chi...  HF.STA.ARIC.ZS.Q1
2      Acute respiratory infections treated (% of chi...  HF.STA.ARIC.ZS.Q2
3      Acute respiratory infections treated (% of chi...  HF.STA.ARIC.ZS.Q3
4      Acute respiratory infections treated (% of chi...  HF.STA.ARIC.ZS.Q4
...                                                  ...                ...
62050  Use of insecticide-treated bed nets (% of unde...  HF.MLR.NETS.ZS.Q1
62051  Use of insecticide-treated bed nets (% of unde...  HF.MLR.NETS.ZS.Q2
62052  Use of insecticide-treated bed nets (% of unde...  HF.MLR.NETS.ZS.Q3
62053  Use of insecticide-treated bed nets (% of unde...  HF.MLR.NETS.ZS.Q4
62054  Use of insecticide-treated bed nets (% of unde...  HF.MLR.NETS.ZS.Q5

       1982  1983  1984  1985  1986  1987  ...  2009       2010  2011  2012  \
0       NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN  60.355908   NaN   NaN
1       NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN  45.818409   NaN   NaN
2       NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN  59.437793   NaN   NaN
3       NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN  65.523684   NaN   NaN
4       NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN  63.517118   NaN   NaN
...     ...   ...   ...   ...   ...   ...  ...   ...        ...   ...   ...
62050   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   9.697901   NaN   NaN
62051   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   9.436990   NaN   NaN
62052   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   9.830812   NaN   NaN
62053   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN  10.367597   NaN   NaN
62054   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN  10.448778   NaN   NaN

       2013       2014       2015  2016  2017  2018
0       NaN        NaN  61.427754   NaN   NaN   NaN
1       NaN        NaN  54.306960   NaN   NaN   NaN
2       NaN        NaN  65.181047   NaN   NaN   NaN
3       NaN        NaN  57.236749   NaN   NaN   NaN
4       NaN        NaN  66.636157   NaN   NaN   NaN
...     ...        ...        ...   ...   ...   ...
62050   NaN  33.460024   9.445526   NaN   NaN   NaN
62051   NaN  29.164651  10.388638   NaN   NaN   NaN
62052   NaN  25.598219  10.053198   NaN   NaN   NaN
62053   NaN  21.713442   6.969739   NaN   NaN   NaN
62054   NaN  17.344494   7.669484   NaN   NaN   NaN

[62055 rows x 41 columns]>

In [19]:
dt.describe()

,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
count,1.000000,1.000000,15.000000,35.000000,35.000000,27.000000,21.000000,15.000000,298.000000,217.000000,...,1885.000000,3950.000000,4517.000000,3.121000e+03,2658.000000,3498.000000,2094.000000,1390.000000,357.000000,59.000000
mean,9.811054,9.713393,9.595286,12.476893,8.240528,8.220250,7.247452,12.077602,32.983255,26.608991,...,23.772957,22.333663,25.054075,2.670550e+01,27.366570,31.491216,27.867160,29.569840,41.054405,13.852262
std,NaN,NaN,26.257356,38.040308,25.391448,18.473818,18.480487,35.539854,39.040081,34.630384,...,35.139816,50.062558,29.451669,3.703215e+01,39.217558,35.370873,37.036014,48.649785,49.895670,93.020529
min,9.811054,9.713393,0.021790,0.001089,0.000000,0.000000,0.000000,0.019569,0.000000,0.003940,...,0.000000,0.000000,0.000000,-2.211891e-10,0.000000,0.000000,-0.000620,0.000000,0.000000,0.000000
25%,9.811054,9.713393,0.329610,0.339623,0.264364,1.221587,0.211755,0.350853,0.875137,0.880552,...,0.827324,0.409448,1.706701,1.589220e+00,1.093516,1.668043,0.937006,0.773917,0.847389,0.075702
50%,9.811054,9.713393,2.244750,2.407738,1.675484,3.768081,2.415513,2.210580,23.260214,12.321954,...,7.944475,3.246729,17.006803,1.485326e+01,13.535521,23.655193,13.562204,13.130552,34.695944,0.326553
75%,9.811054,9.713393,3.624320,5.807928,4.720453,9.319872,4.766865,3.925420,51.175484,42.238954,...,36.246971,28.266098,37.136894,4.045493e+01,44.172342,51.693067,46.687441,47.753628,67.272246,2.022825
max,9.811054,9.713393,103.738686,172.388992,146.796432,97.895149,86.394409,139.869583,239.644989,200.651215,...,429.138184,1016.209595,384.082214,6.717599e+02,655.624634,674.992676,645.832520,702.284912,709.605957,715.929565

In [22]:
dt['Country Name'].head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: Country Name, dtype: object

In [1]:
# Print these pattern
*****
*****
*****
*****
*****

SyntaxError: invalid syntax (428952697.py, line 2)

In [30]:
def square_pattern():
    a=int(input("Enter the first number >>"))
    b=int(input("Enter the second number >>"))
    for j in range(a):
        print(end="\n")
        for i in range(b):
             print("*",end=" ")

In [31]:
square_pattern()

Enter the first number >>12
Enter the second number >>50

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [33]:
a=int(input("Enter the first number >>"))
for i in range(1,a+1):
    print(end='\n')
    for j in range(1,i):
        print("*",end="")

Enter the first number >>22


*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************
********************
*********************

In [35]:
a=int(input("Enter the first number >>"))
for i in range(a,0,-1):
    print(end='\n')
    for j in range(1,i+1):
        print("*",end="")

Enter the first number >>12

************
***********
**********
*********
********
*******
******
*****
****
***
**
*