In [1]:
# fibonacci series

In [2]:
 1  ,  2  ,  3  , 5  ,  8  , 13  ,  21 , 34  , .......
f      s    next
      f      s   next
             f    s    next
                  f     s     next

SyntaxError: invalid syntax (1487324688.py, line 1)

In [8]:
next1 = 10
first = 0
second = 1
print(first,second,end=" ")
for i in range (0,next1-2):
    next1=first+second
    first = second
    second = next1
    print(next1,end=" ")

0 1 1 2 3 5 8 13 21 34

In [9]:
def fibo():
    next1 = int(input("Enter Fibonacci Series >>>"))
    first = int(input("Enter First Number >>>"))
    second =int(input("Enter Second Number >>>")) 
    print(first,second,end=" ")
    for i in range (first,next1-2):
        next1=first+second
        first = second
        second = next1
        print(next1,end=" ")

In [10]:
fibo()

Enter Fibonacci Series >>>20
Enter First Number >>>11
Enter Second Number >>>11
11 11 22 33 55 88 143 231 374

In [11]:
fibo()

Enter Fibonacci Series >>>20
Enter First Number >>>5
Enter Second Number >>>10
5 10 15 25 40 65 105 170 275 445 720 1165 1885 3050 4935

In [12]:
# Star Patterns

In [13]:
# print These star pattern
*
* *
* * *
* * * *
* * * * *

SyntaxError: invalid syntax (1377202312.py, line 1)

In [16]:
for i in range (8):
    print("* "*i)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [17]:
# Print these star pattern
* * * * *
* * * * 
* * * 
* *
*

SyntaxError: invalid syntax (2962835382.py, line 2)

In [18]:
for i in range(8,0,-1):
    print("* "*i)

* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [19]:
# print these star pattern
*
* *
* * *
* * * *
* * * * *
* * * * *
* * * * 
* * * 
* *
*

SyntaxError: invalid syntax (40417020.py, line 1)

In [22]:
for i in range (8):
    print("* "*i)
for p in range(7,0,-1):
    print("* "*p)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [47]:
for i in range (8):
    print("* "*i)
for j in range(8,0,-1):
    print("-> "*j)
    break
for j in range(8,0,-1):
    print("-> "*j)
    break
for p in range(7,0,-1):
    print("* "*p)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
-> -> -> -> -> -> -> ->
-> -> -> -> -> -> -> ->
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [26]:
# print these pattern
1
22
333
4444
55555

55555

In [37]:
for i in range(9):
    print(f"{i} "*i)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8

In [36]:
for i in range(8,0,-1):
    print(f"{i} "*i)

8 8 8 8 8 8 8 8
7 7 7 7 7 7 7
6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
# print These pattern
1 
2 2 
3 3 3 
4 4 4 4 
5 5 5 5 5 
6 6 6 6 6 6 
7 7 7 7 7 7 7 
8 8 8 8 8 8 8 8 
8 8 8 8 8 8 8 8 
7 7 7 7 7 7 7 
6 6 6 6 6 6 
5 5 5 5 5 
4 4 4 4 
3 3 3 
2 2 
1

In [40]:
for i in range(9):
    print(f"{i} "*i)
for i in range(10,0,-1):
    print(f"->"*i)
    break
for i in range(8,0,-1):
    print(f"{i} "*i)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
->->->->->->->->->->
8 8 8 8 8 8 8 8
7 7 7 7 7 7 7
6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [48]:
# for loop for inside loop

In [2]:
for i in range(3):
    print(i)
    for j in range(5):
        print("Hellow")

0
Hellow
Hellow
Hellow
Hellow
Hellow
1
Hellow
Hellow
Hellow
Hellow
Hellow
2
Hellow
Hellow
Hellow
Hellow
Hellow

In [ ]:
# print these pattern
0
welcome
welcome
welcome
welcome
welcome
************************
1
welcome
welcome
welcome
welcome
welcome
************************
2
welcome
welcome
welcome
welcome
welcome
************************

In [4]:
for i in range(3):
    print(i)
    for j in range(5):
        print("Hellow")
    for k in range(1):
            print("*********************")

0
Hellow
Hellow
Hellow
Hellow
Hellow
*********************
1
Hellow
Hellow
Hellow
Hellow
Hellow
*********************
2
Hellow
Hellow
Hellow
Hellow
Hellow
*********************

In [7]:
for i in range(3):
    print(i)
    print("* "*8)
    for j in range(5):
        print("Hellow")

0
* * * * * * * *
Hellow
Hellow
Hellow
Hellow
Hellow
1
* * * * * * * *
Hellow
Hellow
Hellow
Hellow
Hellow
2
* * * * * * * *
Hellow
Hellow
Hellow
Hellow
Hellow

In [16]:
for i in range(3):
    print(i)
    for j in range(5):
        print("Welcome")
    for k in range(2):
            print("to Data Science Cource")
    print("-"*30)

0
Welcome
Welcome
Welcome
Welcome
Welcome
to Data Science Cource
to Data Science Cource
------------------------------
1
Welcome
Welcome
Welcome
Welcome
Welcome
to Data Science Cource
to Data Science Cource
------------------------------
2
Welcome
Welcome
Welcome
Welcome
Welcome
to Data Science Cource
to Data Science Cource
------------------------------

In [18]:
for i in range(3):
    print(i)
    for j in range(2):
        print("Welcome")
        for k in range(1):
            print("to Data Science Cource")
    print("-"*30)

0
Welcome
to Data Science Cource
Welcome
to Data Science Cource
------------------------------
1
Welcome
to Data Science Cource
Welcome
to Data Science Cource
------------------------------
2
Welcome
to Data Science Cource
Welcome
to Data Science Cource
------------------------------

In [19]:
# print these pattern
0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [23]:
for i in range(5):
    for j in range(i):
        print(j,end=" ")

0 0 1 0 1 2 0 1 2 3

In [25]:
for i in range(6):
    print("\n")
    for j in range(i):
        print(j,end=" ")

0

0 1

0 1 2

0 1 2 3

0 1 2 3 4

In [29]:
for i in range(6):
    print("\n")
    for j in range(i):
        print(j,end=" ")
for i in range(5,0,-1):
    print("\n")
    for j in range(i):
        print(j,end=" ")

0

0 1

0 1 2

0 1 2 3

0 1 2 3 4

0 1 2 3 4

0 1 2 3

0 1 2

0 1

0

In [24]:
for i in range (8):
    print("* "*i)
    if i==0:
        print(end="      ")
    elif i==1:
        print(end="     ")
    elif i==2:
        print(end="    ")
    elif i==3:
        print(end="   ")
    elif i==4:
        print(end="  ")
    elif i==5:
        print(end=" ")

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [27]:
for i in range(6):
    print(" "*(5-i)+"* "*i)

    *
   * *
  * * *
 * * * *
* * * * *

In [29]:
for i in range(6,0,-1):
    print(" "*(6-i)+"* "*i)

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [31]:
for i in range(9):
    print("A "*i)

A
A A
A A A
A A A A
A A A A A
A A A A A A
A A A A A A A
A A A A A A A A

In [32]:
for i in range(6,0,-1):
    print("A "*i)

A A A A A A
A A A A A
A A A A
A A A
A A
A

In [40]:
for i in range(7):
    print("\n")
    for j in range(i):
        print(j,end=" ")

0

0 1

0 1 2

0 1 2 3

0 1 2 3 4

0 1 2 3 4 5

In [45]:
for i in range(chr(1,6):
      print(f"{i} "*i)

SyntaxError: invalid syntax (2562237523.py, line 1)

In [53]:

for i in range(0,7):
    if i==0:
        print("A"*i)
    elif i==1:
        print("B"*i)
    elif i==2:
        print("C"*i)
    elif i==3:
        print("D"*i)
    elif i==4:
        print("E"*i)
    elif i==5:
        print("F"*i)

B
CC
DDD
EEEE
FFFFF

In [80]:
c=0
for i in range(0,7):
    print("\n")
    for j in range(i):
        print(c,end=" ")
        c+=1

0

1 2

3 4 5

6 7 8 9

10 11 12 13 14

15 16 17 18 19 20

In [81]:
c=0
for i in range(7,0,-1):
    print("\n")
    for j in range(i):
        print(c,end=" ")
        c+=1

0 1 2 3 4 5 6

7 8 9 10 11 12

13 14 15 16 17

18 19 20 21

22 23 24

25 26

27

In [82]:
for i in range (8):
    print("* "*i)
for j in range(8,0,-1):
    print("* "*j)
    break
for p in range(7,0,-1):
    print("* "*p)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [83]:
for i in range(7):
    print("\n")
    for j in range(i):
        print("* ",end=" ")

*

*  *

*  *  *

*  *  *  *

*  *  *  *  *

*  *  *  *  *  *