#### Convert list into dictionaray

In [3]:
# Revised Dictionary
d1={"Name":'Prathamesh','age':21,'college':'SSGB','city':'Bhusawal'}
d1.get('age')

21

In [4]:
d1.keys()

dict_keys(['Name', 'age', 'college', 'city'])

In [5]:
d1.values()

dict_values(['Prathamesh', 21, 'SSGB', 'Bhusawal'])

In [6]:
d1.items()

dict_items([('Name', 'Prathamesh'), ('age', 21), ('college', 'SSGB'), ('city', 'Bhusawal')])

In [7]:
d1['city']='Pune'
d1

{'Name': 'Prathamesh', 'age': 21, 'college': 'SSGB', 'city': 'Pune'}

In [8]:
l1=[17,'Rasika','Zadkhande']
l1[1]='Prathamesh'
l1

[17, 'Prathamesh', 'Zadkhande']

In [9]:
d2={"Name":'Prathamesh','age':21,'college':'SSGB','city':'Banglore'}
d2.update({'company':'Amazon','role':'Data Scientist'})
d2

{'Name': 'Prathamesh',
 'age': 21,
 'college': 'SSGB',
 'city': 'Banglore',
 'company': 'Amazon',
 'role': 'Data Scientist'}

In [10]:
d2['placed']='off-campus'
d2

{'Name': 'Prathamesh',
 'age': 21,
 'college': 'SSGB',
 'city': 'Banglore',
 'company': 'Amazon',
 'role': 'Data Scientist',
 'placed': 'off-campus'}

In [11]:
d2.pop('college')

'SSGB'

In [12]:
d2

{'Name': 'Prathamesh',
 'age': 21,
 'city': 'Banglore',
 'company': 'Amazon',
 'role': 'Data Scientist',
 'placed': 'off-campus'}

In [13]:
d2.popitem()

('placed', 'off-campus')

In [14]:
d2.clear()

In [15]:
d2

{}

In [16]:
del d2

In [17]:
d2

NameError: name 'd2' is not defined

#### Convert list into Dictionary

In [18]:
# we use enumerate function
d3={}
l1=['cloud','data','cyber securuty','operating system']
l2=[95,92,88,85]
for key,index in enumerate(l1):
    d3[index]=l2[key]
print(d3)

{'cloud': 95, 'data': 92, 'cyber securuty': 88, 'operating system': 85}

##### Sort Dictionary using key

In [19]:
d1

{'Name': 'Prathamesh', 'age': 21, 'college': 'SSGB', 'city': 'Pune'}

In [20]:
d4={}
sort_d1=sorted(d1.keys())
for i in sort_d1:
    d4[i]=d1[i]
print(d4)

{'Name': 'Prathamesh', 'age': 21, 'city': 'Pune', 'college': 'SSGB'}

In [21]:
d4['age']=22

In [22]:
d4

{'Name': 'Prathamesh', 'age': 22, 'city': 'Pune', 'college': 'SSGB'}

#### Q. Cube of the first 10 numbers in dictionary

In [23]:
d5={}
for i in range(1,11):
    d5[i]=i*i*i
print(d5)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [24]:
# cube using function
def cube_dict():
    a=int(input("Enter starting Range >>"))
    b=int(input("Enter ending Range >>"))
    d5={}
    for i in range(a,b):
        d5[i]=i*i*i
    print(d5)

In [30]:
cube_dict()

Enter starting Range >>1
Enter ending Range >>100
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000, 11: 1331, 12: 1728, 13: 2197, 14: 2744, 15: 3375, 16: 4096, 17: 4913, 18: 5832, 19: 6859, 20: 8000, 21: 9261, 22: 10648, 23: 12167, 24: 13824, 25: 15625, 26: 17576, 27: 19683, 28: 21952, 29: 24389, 30: 27000, 31: 29791, 32: 32768, 33: 35937, 34: 39304, 35: 42875, 36: 46656, 37: 50653, 38: 54872, 39: 59319, 40: 64000, 41: 68921, 42: 74088, 43: 79507, 44: 85184, 45: 91125, 46: 97336, 47: 103823, 48: 110592, 49: 117649, 50: 125000, 51: 132651, 52: 140608, 53: 148877, 54: 157464, 55: 166375, 56: 175616, 57: 185193, 58: 195112, 59: 205379, 60: 216000, 61: 226981, 62: 238328, 63: 250047, 64: 262144, 65: 274625, 66: 287496, 67: 300763, 68: 314432, 69: 328509, 70: 343000, 71: 357911, 72: 373248, 73: 389017, 74: 405224, 75: 421875, 76: 438976, 77: 456533, 78: 474552, 79: 493039, 80: 512000, 81: 531441, 82: 551368, 83: 571787, 84: 592704, 85: 614125, 86: 636056, 87: 658503, 88: 681472, 89: 704969, 90: 729000, 91: 753571, 92: 778688, 93: 804357, 94: 830584, 95: 857375, 96: 884736, 97: 912673, 98: 941192, 99: 970299}

In [26]:
# create a dictionary to show the character with there values

In [27]:
d6={}
for i in range(65,123):
    d6[i]=chr(i)
print(d6)

{65: 'A', 66: 'B', 67: 'C', 68: 'D', 69: 'E', 70: 'F', 71: 'G', 72: 'H', 73: 'I', 74: 'J', 75: 'K', 76: 'L', 77: 'M', 78: 'N', 79: 'O', 80: 'P', 81: 'Q', 82: 'R', 83: 'S', 84: 'T', 85: 'U', 86: 'V', 87: 'W', 88: 'X', 89: 'Y', 90: 'Z', 91: '[', 92: '\\', 93: ']', 94: '^', 95: '_', 96: '`', 97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e', 102: 'f', 103: 'g', 104: 'h', 105: 'i', 106: 'j', 107: 'k', 108: 'l', 109: 'm', 110: 'n', 111: 'o', 112: 'p', 113: 'q', 114: 'r', 115: 's', 116: 't', 117: 'u', 118: 'v', 119: 'w', 120: 'x', 121: 'y', 122: 'z'}

#### Copy Function

In [28]:
d4

{'Name': 'Prathamesh', 'age': 22, 'city': 'Pune', 'college': 'SSGB'}

In [31]:
d7=d4

In [32]:
d7

{'Name': 'Prathamesh', 'age': 22, 'city': 'Pune', 'college': 'SSGB'}

In [33]:
d7['age']=20

In [34]:
d7

{'Name': 'Prathamesh', 'age': 20, 'city': 'Pune', 'college': 'SSGB'}

In [35]:
d4

{'Name': 'Prathamesh', 'age': 20, 'city': 'Pune', 'college': 'SSGB'}

#### count Function

In [56]:
str1="""machine learning is a branch of artificial intelligence and computer science
which focuses on the use of data and algorithms to imitate the way that humans"""

In [57]:
str1.count('m')

5

In [58]:
d1={}
for i in range(97,123):
    d1[chr(i)]=str1.count(chr(i))
d1

{'a': 15,
 'b': 1,
 'c': 9,
 'd': 3,
 'e': 13,
 'f': 4,
 'g': 3,
 'h': 9,
 'i': 13,
 'j': 0,
 'k': 0,
 'l': 5,
 'm': 5,
 'n': 11,
 'o': 7,
 'p': 1,
 'q': 0,
 'r': 5,
 's': 7,
 't': 12,
 'u': 4,
 'v': 0,
 'w': 2,
 'x': 0,
 'y': 1,
 'z': 0}

In [52]:
# enumerate function with negative indexing
# sort dictionary through values

In [3]:
def sq():
    a=int(input("Enter Starting Range >>"))
    b=int(input("Enter Ending Range >>"))
    for i in range(a,b):
        l1=[i*i for i in range(a,a+5)]
        l2=[i*i for i in range(b-5,b+1)]
    print(l1)   
    print(l2)

In [4]:
sq()

Enter Starting Range >>2
Enter Ending Range >>19
[4, 9, 16, 25, 36]
[196, 225, 256, 289, 324, 361]