#### Map

In [1]:
# map (function,iterable)
# map function is used when we want to do exact operation on ecah element

In [3]:
day=['Monday','tuesday','Saturday','wednesday','Sunday']
for i in day:
    print(i.upper())

MONDAY
TUESDAY
SATURDAY
WEDNESDAY
SUNDAY

In [4]:
obj = lambda x : x.upper()

In [7]:
l1=[]
for i in day:
    l1.append(obj(i))
print(l1)

['MONDAY', 'TUESDAY', 'SATURDAY', 'WEDNESDAY', 'SUNDAY']

In [ ]:
list(map(fun,iterables))

In [10]:
def upp(n):
    return n.upper()
def lower(a):
    return a.lower()

In [11]:
list(map(upp,day))

['MONDAY', 'TUESDAY', 'SATURDAY', 'WEDNESDAY', 'SUNDAY']

In [13]:
list(map(lower,day))

['monday', 'tuesday', 'saturday', 'wednesday', 'sunday']

In [14]:
list(map(lambda x:x.upper() ,day))

['MONDAY', 'TUESDAY', 'SATURDAY', 'WEDNESDAY', 'SUNDAY']

In [16]:
dys=['MONDAY', 'tuesday', 'SUNDAY', 'Saturday', 'FRIDAY']

In [19]:
for i in dys:
    if i.isupper():
        print(i )

MONDAY
SUNDAY
FRIDAY

In [20]:
tuple(filter(lambda x:x.isupper(),dys))

('MONDAY', 'SUNDAY', 'FRIDAY')

In [2]:
str1="Science"
l2=[1,2,3,4,5,6,7]
tuple(map(lambda x,y : x*y  ,str1 , l2 ))

('S', 'cc', 'iii', 'eeee', 'nnnnn', 'cccccc', 'eeeeeee')

In [26]:
l1=[1,2,3,54,4,5,6,6,7,8,84,54,34232,34]
list(map(lambda x: x*x if x%2==0 else (f"{x} is odd "),l1))

['1 is odd ',
 4,
 '3 is odd ',
 2916,
 16,
 '5 is odd ',
 36,
 36,
 '7 is odd ',
 64,
 7056,
 2916,
 1171829824,
 1156]

#### library and package module

In [35]:
import math as mt

In [36]:
import pandas as pd

In [1]:
def even(n):
def odd(n):
def root(n):

IndentationError: expected an indented block (1394356856.py, line 2)

In [ ]:
library>packages(__init__.py)>module(.py)>functions & variables

#### reduce

In [3]:
from functools import reduce

In [5]:
# find largest number in list 
l3=[12,34,23,54,3452,342,34234,23,45645,2345,456]
reduce(lambda x,y : x if x>y else y,l3)

45645

In [6]:
# using lambda function 
big = lambda x,*arx if x>y else y

In [4]:
big = lambda x,**y: x if x>y else y

In [5]:
big(1,2,3,23,443,34)

TypeError: <lambda>() takes 1 positional argument but 6 were given

In [3]:
s='python'
c=0
for i in s:
    print(f"index :{i} Count:",c)
    c-=1

index :p Count: 0
index :y Count: -1
index :t Count: -2
index :h Count: -3
index :o Count: -4
index :n Count: -5

In [5]:
a=0
while a<20:
    print(a+2)
    a+=2
    pass

2
4
6
8
10
12
14
16
18
20

In [9]:
a=1
for i in range(6):
    c=i*a
    a+=1
print(c)

30