In [1]:
# sort each sublist

In [8]:
l1=[54,2,3,4,5,5,65,634]
sorted(l1)

[2, 3, 4, 5, 5, 54, 65, 634]

In [9]:
# reduce function

In [10]:
from functools import reduce

In [11]:
l1

[54, 2, 3, 4, 5, 5, 65, 634]

In [12]:
reduce(lambda x,y:x+y ,l1)

772

In [15]:
# using for loop
c=0
for i in l1:
    c=i+c
print(c)

772

In [17]:
list1=[2,4,7,5,89,67,54]
# x=2,y=4 > 6
# x=6,y=7 > 13
# x=13,y=5 > 18
# x=18,y=89 > 107
# x=107,y=67 > 174
# x=174,y=54 > 228

In [18]:
reduce(lambda x,y:x+y,list1)

228

#### while loop

In [22]:
a=1
while a<=5:
    print(a)
    a+=1

1
2
3
4
5

In [27]:
str1="Prathamesh"
a=0
while a<len(str1):
    print(f"{str1[a]} >> {a}")
    a+=1

P >> 0
r >> 1
a >> 2
t >> 3
h >> 4
a >> 5
m >> 6
e >> 7
s >> 8
h >> 9

In [1]:
str1="Prathamesh"
a=-len(str1)
while a<0:
    print(f"{str1[a]} >> {a}")
    a+=1

P >> -10
r >> -9
a >> -8
t >> -7
h >> -6
a >> -5
m >> -4
e >> -3
s >> -2
h >> -1

In [2]:
a=0
while a<6:
    print("*"*a)
    a+=1

*
**
***
****
*****

In [5]:
a=6
while a>0:
    print("*"*a)
    a-=1

******
*****
****
***
**
*

In [9]:
for i in range(6,-1,-1):
    print("*"*i)

******
*****
****
***
**
*

In [11]:
a=1
while a<11:
    print(f"{a} * 2 == {a*2}")
    a+=1

1 * 2 == 2
2 * 2 == 4
3 * 2 == 6
4 * 2 == 8
5 * 2 == 10
6 * 2 == 12
7 * 2 == 14
8 * 2 == 16
9 * 2 == 18
10 * 2 == 20

In [16]:
def table(b):
    a=1
    while a<11:
        print(f"{b} * {a} == {a*b}")
        a+=1

In [17]:
table(3)

3 * 1 == 3
3 * 2 == 6
3 * 3 == 9
3 * 4 == 12
3 * 5 == 15
3 * 6 == 18
3 * 7 == 21
3 * 8 == 24
3 * 9 == 27
3 * 10 == 30

In [24]:
def table_for(a):
    for i in range(1,11):
        print(i*a)

In [25]:
table_for(2)

2
4
6
8
10
12
14
16
18
20

In [26]:
i=0
while i<10:
    print(i)
    i-=1
    if i==-5:
        print("value become -5 and i stop the while loop")
        break

0
-1
-2
-3
-4
value become -5 and i stop the while loop

In [27]:
i=1
while i>0:
    print(i)
    i+=1
    if i==20:
        print("i become 20 and want to stop")
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
i become 20 and want to stop

In [28]:
i=5
while i<=10:
    print(i)
    i+=1
    if i==7:
        print("continue executed",i)
        continue

5
6
continue executed 7
7
8
9
10

In [29]:
i=5
while i<=10:
    if i==7:
        pass
    else:
        print(i)
    i+=1

5
6
8
9
10

In [30]:
# create a function for fartrial using while loop

In [33]:
c=1
a=1
while a<6:
    c=a*c
    a+=1

In [38]:
def factorial(d):
    c=1
    a=1
    while a<d+1:
        c=a*c
        a+=1
    return c

In [41]:
factorial(4)

24

In [7]:
b=1
a=65
while a<70:
    print(f"{chr(a=)} "*b)
    a+=1
    b+=1

A
B B
C C C
D D D D
E E E E E

In [ ]:
for i in range(chr)

In [15]:
p=65
for i in range(5):
    for j in range(i+1):
        print(chr(p),end=' ')
        p+=1
    print()

A
B C
D E F
G H I J
K L M N O

In [2]:
a=1
while a<=5:
    print(a)
    a+=1
    if a==6:
        break
    else:
        pass

1
2
3
4
5

In [5]:
d={'a':1,'b':2}
print(d['b'])

2