In [ ]:
print next 5 days

In [3]:
import datetime
td=datetime.datetime.today()
print(td)
nd=td+datetime.timedelta(days=4)
print (nd)

2023-09-04 13:08:22.306213
2023-09-08 13:08:22.306213

In [7]:
td=datetime.datetime.today()
for i in range(7):
    nd=td+datetime.timedelta(days=i)
    print(nd)

2023-09-04 13:10:51.579843
2023-09-05 13:10:51.579843
2023-09-06 13:10:51.579843
2023-09-07 13:10:51.579843
2023-09-08 13:10:51.579843
2023-09-09 13:10:51.579843
2023-09-10 13:10:51.579843

#### striftime()

In [ ]:
strftime > string format >> string from time object

In [8]:
td = datetime.datetime.today()
print(f"{td} todya's time with format >>{type(td)}")

2023-09-04 13:17:09.829011 todya's time with format >><class 'datetime.datetime'>

In [9]:
"2023-aug-31">>>time object

SyntaxError: invalid syntax (1395523489.py, line 1)

In [12]:
td=datetime.datetime.now()
print(td)

2023-09-04 13:21:48.098750

In [13]:
current_date_obj = datetime.datetime.now()
print(type(current_date_obj))

<class 'datetime.datetime'>

In [16]:
# year using strftime with different format
print("Year ",current_date_obj.strftime("%Y"))
print("Year ",current_date_obj.strftime("%y"))

Year  2023
Year  23

In [17]:
type(current_date_obj.strftime("%y"))

str

In [22]:
# Month = %B , %b , %m
print("Month ",current_date_obj.strftime("%b")) # 03-sep-2023
print("Month ",current_date_obj.strftime("%B")) # 03-september-2023
print("Month ",current_date_obj.strftime("%m"))# 03-09-2023

Month  Sep
Month  September
Month  09

In [24]:
# Date 
print("Date ",current_date_obj.strftime("%D"))
print("day ",current_date_obj.strftime("%d"))

Day  09/04/23
day  04

In [25]:
print("Date ",current_date_obj.strftime("%x"))
print("Date ",current_date_obj.strftime("%X"))

Date  09/04/23
Date  13:22:48

In [27]:
# weekdays
print("Weekdays ",current_date_obj.strftime("%A"))
print("Weekdays ",current_date_obj.strftime("%a"))
print("Weekdays ",current_date_obj.strftime("%w"))

Weekdays  Monday
Weekdays  Mon
Weekdays  1

In [31]:
td =datetime.datetime.now()
for i in range(7):
    nd=td+datetime.timedelta(days=i)
    print(nd.strftime("%A"),">>",nd.strftime("%w"))

Monday >> 1
Tuesday >> 2
Wednesday >> 3
Thursday >> 4
Friday >> 5
Saturday >> 6
Sunday >> 0

In [34]:
# day of the year 
current_date_obj = datetime.datetime.now()
print('days of the year >',current_date_obj.strftime('%j')) #julean day number

days > 247

In [35]:
# week of the year 
print("week of the year >",current_date_obj.strftime('%U ')) # week of the year

week of the year > 36

In [39]:
# AM / PM
print("AM / PM  >",current_date_obj.strftime('%p')) # return AM or PM

AM / PM  > PM

In [41]:
print("Hours >", current_date_obj.strftime('%H')) # returns hours in 24hr

Hours > 14

In [42]:
print('Hours >', current_date_obj.strftime('%I')) # hours in 12hr

Hours > 02

In [47]:
current_date_obj = datetime.datetime.now()
print("Hours >", current_date_obj.strftime('%H')) # for hrs
print("Minuts >",current_date_obj.strftime('%M')) # for minuts
print("Seconds >", current_date_obj.strftime('%S')) # for seconds
print("Microseconds >", current_date_obj.strftime('%f')) # for microseconds

Hours > 14
Minuts > 17
Seconds > 18
Microseconds > 150622

In [49]:
import datetime
now = datetime.datetime.now()
second = now.strftime("%S")
minuts = now.strftime('%M')
print('Seconds ',second)
print('Minuts ', minuts)

Seconds  22
Minuts  26

#### Striptime()

In [50]:
strptime >> string praser > string format to datetime

SyntaxError: invalid syntax (279617946.py, line 1)

In [55]:
date = '04 09 2023' # string format 4th sep 2023
new_date_form = datetime.datetime.strptime(date,'%d %M %Y')
print(new_date_form )
print(f"type ={type(date)} after using strptime type become {type(new_date_form)}")

2023-01-04 00:09:00
type =<class 'str'> after using strptime type become <class 'datetime.datetime'>

In [56]:
date="03 09 2023" #string format>>9th march 2023
new_date_std=datetime.datetime.strptime(date,"%m %d %Y") 
print(new_date_std)
print(f"type ={type(date)} after using strptime type become {type(new_date_std)}")

2023-03-09 00:00:00
type =<class 'str'> after using strptime type become <class 'datetime.datetime'>

In [57]:
datetime.datetime.now()

datetime.datetime(2023, 9, 4, 14, 35, 13, 646578)

In [58]:
date_list=["03-06-2023","03 jun 2023","2023 jun 09","2023/jun/03"]
date_format=["%Y/%b/%d","%Y %b %d","%d %b %Y","%d-%m-%Y"]
# "2023/jun/03" >>>"%Y/%b/%d"
for i in date_list:
    for j in date_format:
        try :
            date_now=datetime.datetime.strptime(i,j).date()
            print(i,j)
        except:
            pass

03-06-2023 %d-%m-%Y
03 jun 2023 %d %b %Y
2023 jun 09 %Y %b %d
2023/jun/03 %Y/%b/%d