In [1]:
str1= "Machine Learning"
str1.index("i")

4

### Index()

In [2]:
str1.index("i")

4

In [3]:
str2=[1,3,4,5,6,7,34,45,234,2456,34]
n = 0
for i in str2:
    print(f"your addition is {i} + {n}>>")
    n=i+n
    print(n)
    
print(n)

your addition is 1 + 0>>
1
your addition is 3 + 1>>
4
your addition is 4 + 4>>
8
your addition is 5 + 8>>
13
your addition is 6 + 13>>
19
your addition is 7 + 19>>
26
your addition is 34 + 26>>
60
your addition is 45 + 60>>
105
your addition is 234 + 105>>
339
your addition is 2456 + 339>>
2795
your addition is 34 + 2795>>
2829
2829

In [4]:
def add(str2):
    n = 0
    for i in str2:
        print(f"your addition is {i} + {n}>>")
        n=i+n
        print(n)
print(n)

2829

In [5]:
str5 = [12,334,123,3456,657]
add(str5)

your addition is 12 + 0>>
12
your addition is 334 + 12>>
346
your addition is 123 + 346>>
469
your addition is 3456 + 469>>
3925
your addition is 657 + 3925>>
4582

### Join()
 join Function convert list to string
 .join(string)

In [6]:
l1 = "Hellow prathamesh zadkhande"
l1.split()

['Hellow', 'prathamesh', 'zadkhande']

In [7]:
"_".join(l1)

'H_e_l_l_o_w_ _p_r_a_t_h_a_m_e_s_h_ _z_a_d_k_h_a_n_d_e'

### casefold()
casefold returns the string that all string in lower case

In [8]:
l2 = "Data Analythics"
l2.casefold()

'data analythics'

In [9]:
# endswith()
# it Will return true or false
a = "Machine Learning"
a.endswith("a")

False

In [11]:
a.endswith('g')

True

Cheack For the directory

In [12]:
import os
os.getcwd()

'C:\\Users\\prath\\Data Science\\Prathamesh'

In [15]:
l2 = ["Mr.Kaushal","Mr.Prathamesh","Miss.Pari","Ms.Angel","Mr.Ram","Mr.Prasad"]
for name in l2:
    if name.startswith("Mr"):
        print(f"{name} Gender is male ")
    elif name.startswith("Miss"):
        print(f"{name} Gender is Female and She is UnMarried")
    elif name.startswith("Ms"):
        print(f"{name} Gender is Female and She is Married")
    else:
        print("He is Alien")

Mr.Kaushal Gender is male
Mr.Prathamesh Gender is male
Miss.Pari Gender is Female and She is UnMarried
Ms.Angel Gender is Female and She is Married
Mr.Ram Gender is male
Mr.Prasad Gender is male

In [25]:
def auto_gender(l2):
    for name in l2:
        if name.startswith("Mr"):
            print(f"{name} Gender is male ")
        elif name.startswith("Miss"):
            print(f"{name} Gender is Female and She is UnMarried")
        elif name.startswith("Ms"):
            print(f"{name} Gender is Female and She is Married")
        else:
            print(f"{name} He is Alien")

In [27]:
l3=["Mr.Ram","Miss.Gita","Ms.Tina","Ms.hina","Mr.Lakhan","Rasika"]
auto_gender(l3)

Mr.Ram Gender is male
Miss.Gita Gender is Female and She is UnMarried
Ms.Tina Gender is Female and She is Married
Ms.hina Gender is Female and She is Married
Mr.Lakhan Gender is male
Rasika He is Alien