In [1]:
# Nested If Else condiotion

In [17]:
def loan_approval(age,cibil,salary):
    if age>=25 and age<=50:
        print("You age is fit for lone")
        if cibil>=750 :
            print("Your Cibil Score is Good")
            if salary>=50000:
                print("You Salary also satisfy the lone condition")
                print("Congrats, you are eligible for lone")
            else:
                print("You Salary is not satisfy the lone condition")
        else:
            print("Your Cibil score is not fit")
    else:
        print("Your age is not eligible for these lone scheme")

In [18]:
loan_approval(age=22,cibil=333,salary=45555)

Your age is not eligible for these lone scheme

In [19]:
# list

In [49]:
list1=[1,2.2,"Machine",3-3j,0.21,'Ram',-23,{"Key":"Value"},[2,4,3],3j+1]
print(list1)
len(list1)

[1, 2.2, 'Machine', (3-3j), 0.21, 'Ram', -23, {'Key': 'Value'}, [2, 4, 3], (1+3j)]

10

In [53]:
count = 0
for i in list1:
    print(f" Value >> {i} , index>> {count}", type(i))
    count=count+1

 Value >> 1 , index>> 0 <class 'int'>
 Value >> 2.2 , index>> 1 <class 'float'>
 Value >> Machine , index>> 2 <class 'str'>
 Value >> (3-3j) , index>> 3 <class 'complex'>
 Value >> 0.21 , index>> 4 <class 'float'>
 Value >> Ram , index>> 5 <class 'str'>
 Value >> -23 , index>> 6 <class 'int'>
 Value >> {'Key': 'Value'} , index>> 7 <class 'dict'>
 Value >> [2, 4, 3] , index>> 8 <class 'list'>
 Value >> (1+3j) , index>> 9 <class 'complex'>

In [57]:
def rev_neg_indexing(list1):
    count=0
    for i in list1[::-1]:
        print(f" Value >> {i}, Index >> {count}")
        count=count+1

In [59]:
rev_neg_indexing(list1)

 Value >> (1+3j), Index >> 0
 Value >> [2, 4, 3], Index >> 1
 Value >> {'Key': 'Value'}, Index >> 2
 Value >> -23, Index >> 3
 Value >> Ram, Index >> 4
 Value >> 0.21, Index >> 5
 Value >> (3-3j), Index >> 6
 Value >> Machine, Index >> 7
 Value >> 2.2, Index >> 8
 Value >> 1, Index >> 9

In [16]:
ls1 = ["prathamesh","kaushal","Manesh","Amaan"]
for i in ls1:
    print(i.upper(), end="____")

PRATHAMESH____KAUSHAL____MANESH____AMAAN____

In [64]:
for i in range(1,101,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [65]:
for i in range(0,101,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [80]:
fun=int(input("Enter 0 or 1 >>>"))
print(f"{fun}")
if fun==0:
    if i in range(0,101,2):
        print(i,end=",")

Enter 0 or 1 >>>0
0
100,

In [14]:
for i in range (1,101, if i//5==0 and i//6==0):

           print(i)

1
2
3
4

In [17]:
set(lst1)

NameError: name 'lst1' is not defined