In [3]:
# copy()
l1= [1,2,4,5,6]
l2=l1.copy()
l2

[1, 2, 4, 5, 6]

In [9]:
l2.append(2)
print(l2)
print(l1)

[1, 2, 4, 5, 6, 2, 2, 2, 2, 2]
[1, 2, 4, 5, 6]

In [13]:
c1=[1,2,4,5,6]
c2=c1.copy()
c1.append("Gujrat")
print(c1)
print(c2)

[1, 2, 4, 5, 6, 'Gujrat']
[1, 2, 4, 5, 6]

In [14]:
c1=[1,2,4,5,6]
c2=c1.copy()
c1.append("Gujrat")
print(c1)
print(c2)

[1, 2, 4, 5, 6, 'Gujrat']
[1, 2, 4, 5, 6]

In [15]:
# Deepcopy
import copy

In [18]:
c3 = copy.deepcopy(c1)
print(c3)

[1, 2, 4, 5, 6, 'Gujrat']

In [19]:
# find even numbers
c1=[]
for i in range(1,101):
    if i%2==0:
        c1.append(i)
print(c1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [23]:
# using list comprihension
c2=[i for i in range(1,55) if i%2==0 ]
print(c2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54]

In [26]:
# list comprihension
# create odd number code from 1 to 80 using list comprihension
l3= [j for j in range(1,80) if j%2!=0]
print(l3)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79]

In [2]:
# for print capital letters using l comnp
a1=["Jalgaon","Mumbai","bhusawal","Chorwad","delhi"]
a2=[a for a in a1 if a.istitle()==True]
a2

['Jalgaon', 'Mumbai', 'Chorwad']

In [6]:
# for Small case letters 
print(a1)
c=[j for j in a1 if j.istitle()==False]
c

['Jalgaon', 'Mumbai', 'bhusawal', 'Chorwad', 'delhi']

['bhusawal', 'delhi']

In [7]:
# Function for upper and lower case letters
p=["Hydra","RAW","Cia","Euro","anti","cR"]
#for upper case
s=[a for a in p if a.isupper()]
s

['RAW']

In [10]:
#for lower case
d=[a for a in p if a.islower()]
print(d)
b=[j for j in p if j.istitle()]
print(b)

['anti']
['Hydra', 'Cia', 'Euro']

In [16]:
# first make square and the make there square root from 1 to 100
a2= [j*j for j in range(1,101) ]
print(a2)
c2= [i**0.5 for i in a2 ]
print(c2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]
[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 99.0, 100.0]

In [32]:
# first make cube and the make there cube root from 1 to 20
a2= [j*j*j for j in range(1,21) ]
print(a2)
c2= [i**0.5  for i in a2 ]
print(c2)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000]
[1.0, 2.8284271247461903, 5.196152422706632, 8.0, 11.180339887498949, 14.696938456699069, 18.520259177452132, 22.627416997969522, 27.0, 31.622776601683793, 36.4828726939094, 41.569219381653056, 46.87216658103186, 52.38320341483518, 58.09475019311125, 64.0, 70.09279563550022, 76.36753236814714, 82.8190799272728, 89.44271909999159]

In [33]:
# Flatten a list of lists with a list comprehensions
li = [[1,2,3],[4,5,6]]
answer>>>>>>[1,2,3,4,5,6]

SyntaxError: invalid syntax (1197097457.py, line 3)

In [11]:
li = [[1,2,3],[4,5,6]]
l2 =[]
for i in li:
    
    for j in i:
        l2.append(j)


print(l2)

[1, 2, 3, 4, 5, 6]